<footer>
    <ul class="footer-left-bar d-none d-md-block">
      <li>
        <a href="https://linkedin.com/in/hung-luu-007856225" target="_blank">
          <img src="../../assets/linked.png" width="30" height="30" alt="linked">
        </a>
      </li>
      <li>
        <a href="https://github.com/Hungfu123" target="_blank">
          <img src="../../assets/github.png" width="30" height="30" alt="github">
        </a>
      </li>
    </ul>
    
    <div class="footer-right-bar d-none d-md-block">
        <a href="mailto:vinhhung17@gmail.com"
            target="_blank"
            >vinhhung17&#64;gmail.com
        </a>
    </div>
</footer>