<div class="card text-center" style="max-width: 350px; min-width: 350px;">
    <div class="card-body">
        <h5 class="card-title"> <b style="font-family: Gotham Black;">{{project.name}}</b></h5>
        <p class="card-text"> <span class="code">{{project.summary}}.</span></p>
        <button class="btn btn-outline-light" (click)="OpenProjectModal()">Details</button>
    </div>
<div class="card-footer">
    <div class="d-flex flex-wrap justify-content-center">
            <div *ngFor="let tag of project.tags">
                <div class="tag me-2 mb-1"[style.background-color]="tag.color">{{tag}}</div>
            </div>
    </div>
</div>


</div>