<div class="container">
    <div class="text-center border mb-5 shadow rounded">
        <h1>Kontakt</h1>
        <p>Ich freue mich, von Ihnen zu hören, wenn Sie über neue Möglichkeiten sprechen möchten. Schreiben Sie mir, und ich werde so bald wie möglich auf Ihre Nachricht antworten.</p>
        <p>Sie können mich unter folgender E-Mail-Adresse erreichen: <b style="color: white;">vinhhung17&#64;googlemail.com</b></p>
        <p>Ich bin auch in folgenden Plattformen erreichbar: </p>
    </div>

    <div class="list-group shadow">
        <a href="https://linkedin.com/in/hung-luu-007856225" target="_blank" class="list-group-item list-group-item-action de-flex gap-3 py-3">
            <img src="../../assets/linked.png" width="40" height="40" alt="linked" class="rounded-circle flex-shrink-0 me-5">
            <h3 class="mb-0">Linkedin</h3>
        </a>

        <a href="https://github.com/Hungfu123" target="_blank" class="list-group-item list-group-item-action de-flex gap-3 py-3">
            <img src="../../assets/github.png" width="40" height="40" alt="linked" class="rounded-circle flex-shrink-0 me-5">
            <h3 class="mb-0">Github</h3>
        </a>

    </div>
</div>