<nav class="navbar mb-3 sticky-md-top">
    <br>
    <div class ="d-flex align-items-center">
        <a class="navbar-brand" href="/home">
            <img src="../../assets/Element 3.png" alt="" width="50" height="50">
        </a>
        <ul class="nav justify-content-center flex-grow-1">
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="/home" routerLinkActive="active-link" ><span class="code">01.</span> Startseite</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="/portfolio" routerLinkActive="active-link" ><span class="code">02.</span> Portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="/resume" routerLinkActive="active-link" ><span class="code">03.</span> Lebenslauf</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="/contact" routerLinkActive="active-link" ><span class="code">04.</span> Kontakt</a>
            </li>
        </ul>
    </div>


</nav>
