<div class="modal-header">
    <h2>{{project.name}}</h2>
    <button class="btn-close" (click)="bsModalRef.hide()"></button>
</div>

<div class="modal-body">
    <carousel>
        <div *ngFor="let picture of project.pictures">
            <slide><img src="{{picture}}" alt="slide" style="display: block; width: 100%;"></slide>
        </div>
    </carousel>

    <h3 class="mt-2">Beschreibung</h3>
    <p>{{project.description}}</p>
    <p>{{project.projectLink}}</p>
    <p>Du findest Projekt im GitHub <a href={{project.projectLink}} target="_blank">hier</a></p>

    <hr>
    <div class="d-flex flex-wrap">
        <div *ngFor="let tag of project.tags">
            <div class="tag me-2 mb-1"[style.background-color]="tag.color">{{tag}}</div>
        </div>

    </div>
</div>