.rounded-circle {
    border-radius: 50%;
}

h2{
    font-family: Montserrat;
}
p{
    font-family: FiraCode;
    left: auto;
}
.row{
    position: relative;
    padding: 2rem 1.75rem;
	height: 100%;
}